{% extends 'anime/base.html' %}
{% block title %}{{ anime.anime_title}}{% endblock %}

  
{% block body %}
<div class="container">
	<div class="row">
		<div class="col-md-8">
			<h3><strong>{{ anime.anime_title }}</strong></h3>
			<hr style="border-top: 3px double #8c8b8b;">
			<div class="row">
				<div class="col-md-5">
					<img src="{{ anime.anime_cover.url }}" class="img-responsive img-rounded">
				</div>
				<div class="col-md-7">
					<div class="row">
						<h4 class="text-muted" style="padding-left: 20px;">
							Information:</h4>						
						<dl class="dl-horizontal">
							<dt>Type:</dt>
							<dd>{{ anime.anime_type }}</dd>
							<dt>Status:</dt>
							<dd>{{ anime.anime_status }}</dd>
							<dt>Genres:</dt>
							<dd>{{ genres }}</dd>
							<dt>Episodes:</dt>
							<dd>{{ anime.anime_episodes}}</dd>
							<dt>Studios:</dt>
							<dd>{{ studios }}</dd>
							<dt>Premiere:</dt>
							<dd>{{ anime.premiere }}</dd>
						</dl>				
					</div>
				
				</div>	
			</div>	
		</div>
		<div class="col-md-4"><br><br><br>
			<div class="panel panel-custom">
  				<div class="panel-heading"><strong>Episode List</strong></div>
  				<div class="panel-body" 
  				style="max-height: 215px;overflow-y: scroll;">
  				{% for episode in anime.episode_set.all %}
  					<a href="{{ episode.get_absolute_url }}">
  						<strong style="color:black">{{ episode.episode_title }}</strong>
  					</a><br>
  				{% endfor %}
  				</div>
			</div>		
		</div>
	</div>
</div>
<div class="container">
	<div class="row">
		<div class="col-md-8">
			<div class="fb-comments" data-href="http://127.0.0.1:8000{{ anime.get_absolute_url }}" data-width="100%" data-numposts="10">
			</div>		
		</div>
		<div class="col-md-4">
			
		</div>

	</div>
</div>
{% endblock %}	