{% extends 'anime/base.html' %}
{% block title %}Ongoing Anime{% endblock %}
{% block ongoing_list %}active{% endblock %} 

{% block body %}
<div class="container">
	<h3><strong><span class="glyphicon glyphicon-folder-open" aria-hidden="true">
	</span>&nbsp;Ongoing Anime</strong></h3>
	<hr style="border-top: 3px double #8c8b8b;">
	{% for each in days %}
	<div class="row">
		<div class="col-md-12">
			<br><span class="glyphicon glyphicon-calendar" 
                		aria-hidden="true"><strong style="font-size: 18px">{{ each }}</strong></span>
			<hr style="border-top: 3px double #8c8b8b;">			
		</div>	
	</div>
		<div class="row">
		{% for anime in anime %}
			{% ifequal each|stringformat:"s" anime.day %}
				<div class="col-md-3">
					<a href="{{ anime.get_absolute_url }}">
						<img src="{{ anime.anime_cover.url }}" class="img-thumbnail" 
						style="height: 300px;width: 250px;margin-bottom: 15px; background-color: black;">
					</a>
				</div>
 			{% endifequal %}
		{% endfor %}		
		</div>
	{% endfor %}
</div>
<br>
<br>
{% endblock %}